*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column  ;
  align-items: center;
  margin: 30px  ;
  height: 300px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  height: 140px;
}
button{
  padding: 20px;
  width: 190px;
  background-color: darkblue;
  color: rgb(208, 245, 252);
}
button:hover{
  background-color: rgb(37, 108, 201);
  cursor: pointer;
}